/* .container{
    width:98%;
    margin: auto;
} */


/* -------------------------head start-------------------------------------- */


.header{
    border-bottom:solid #ddd 1px;
    padding-left: 1%;
    padding-right: 1%;
}

.mainHead{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}

.right{
    width: 45%;
    display: flex;
    justify-content: space-between;
}


.img{
    width:90px;
    height:30px;
}

.text{
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 50px;
    padding: 5px 40px;
    font-size: medium;
    width: 450px;
}

.button{
    width: 80px;
    height: 35px;
    background-color: #4285f4;
    border: 0;
    color: aliceblue;
    font-weight: bold;
}

ul{
    list-style-type: none;
}

.navbar{
    margin-top: 10px;
    width: 45%;
    display: flex;
    justify-content: space-around;
}

.first_ul{
    display: flex;
    margin-bottom: 0;
    height: 25px;
}

.first_ul li{
    margin-right: 20px;
}

.first_ul li:first-of-type{
    color: blue;
    border-bottom: 3px blue solid ;
}

.first_ul li:hover{
    cursor: pointer;
}

.first_ul li:active{
    color:blue;
}

.sec_ul{
    display: flex;
    margin-bottom: 0;
    height: 25px;
    align-self: flex-end;
    
}

.sec_ul li{
    margin-right: 20px;
}

.sec_ul li:hover{
    cursor: pointer;
}

.sec_ul li:active{
    color:blue;
}

/* -------------------------head end-------------------------------------- */
.main{
    width: 55%;
    margin-left: 50px;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title h2{
    margin-bottom: 8px;
}

.title p{
    margin-top: 0;
}

a{
    text-decoration: none;
}

.sideTitles{
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
}

.twodivs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.side{
    width:44%;
}

.side h2 {
    margin-top: 0px;
    margin-bottom: 8px;
}

.side p{
    margin-top: 0px;
    margin-bottom: 20px;
}

.tinyTitle span{
    font-weight: bold;
    color:rgb(87, 84, 84);
}

.tinyTitle div {
    color:rgb(109, 109, 109);
}

.asks{
    width:100%;
}

.asks h3{
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.asks div{
    display: flex;
    justify-content: space-between;
    border: solid rgb(150, 138, 138) 1.5px;
}

.asks div:first-of-type{
    border-radius: 20px 20px 0 0;
}

.asks div:last-of-type{
    border-radius: 0 0 20px 20px;
}

.asks div:hover:first-of-type{
    cursor:default;
}

.asks div:hover{
cursor: pointer;
}

.asks div p{
    margin-left: 15px;
}

.asks div span{
    margin-right: 15px;
    margin-top:16px;
}

.videos{
    display: flex;
    justify-content: space-around;
    height: 350px;
}

.topics{
    width: 30%;
    border: solid #ccc 1px;
    border-radius: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topics:hover{
 cursor: pointer;
}

.topics img{
    width:100%;
    border-radius: 20px 20px 0 0;
}

.topics h4 {
margin-left: 10px;
}

.topics p{
    margin-left: 10px;
    margin-top:5px;
    margin-bottom: 5px;
    font-size: medium;
    color:rgb(153, 146, 146);
}

.topics p span{
    color:rgb(77, 75, 75);
    font-weight: bold;
}

.related{
    width:100%;
    display: flex;
    flex-direction: column;
}

.related .twodivs{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.spacebet{
    display: flex;
    flex-direction: row;
    justify-content: right;
    width:45%;
    background-color: rgb(198, 209, 208,0.3);
    margin-bottom: 10px;
    padding:10px;
    border-radius: 25px;
}

.spacebet .icon{
    margin-right: 30px;
    margin-left: 20px;
}
.footer{
    width: 100%;
    background-color:rgb(223, 213, 213,0.4);
}

.footer div{
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.style1{
    color:rgb(104, 103, 103);
    padding-right: 10px;
    border-right: solid rgb(158, 155, 155) 1px;
}

.style2{
    padding-left: 10px;
    font-weight: bold;
    color:black;
}

.line1{
    color:rgb(104, 103, 103);
    border-top: solid rgb(104, 103, 103,0.2) 1px;
    border-bottom: solid rgb(104, 103, 103,0.2) 1px;
}

.line2{
    color:rgb(104, 103, 103);
}

.footer_ul{
    display: flex;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
}


.footer_ul li{
    margin-right: 20px;
}

.footer_ul li:hover{
    cursor: pointer;
}