.container{
    width:98%;
    margin: auto;
}


/* -------------------------head start-------------------------------------- */


.header{
    width: 100%;
    border-bottom:solid #ddd 1px;
}

.mainHead{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}

.right{
    width: 45%;
    display: flex;
    justify-content: space-between;
}


.img{
    width:90px;
    height:30px;
}

.text{
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 50px;
    padding: 5px 40px;
    font-size: medium;
    width: 450px;
}

.button{
    width: 80px;
    height: 35px;
    background-color: #4285f4;
    border: 0;
    color: aliceblue;
    font-weight: bold;
}

ul{
    list-style-type: none;
}

.navbar{
    margin-top: 10px;
    width: 45%;
    display: flex;
    justify-content: space-around;
}

.first_ul{
    display: flex;
    margin-bottom: 0;
    height: 25px;
}

.first_ul li{
    margin-right: 20px;
}

.first_ul li:first-of-type{
    color: blue;
    border-bottom: 3px blue solid ;
}

.first_ul li:hover{
    cursor: pointer;
}

.first_ul li:active{
    color:blue;
}

.sec_ul{
    display: flex;
    margin-bottom: 0;
    height: 25px;
    align-self: flex-end;
    
}

.sec_ul li{
    margin-right: 20px;
}

.sec_ul li:hover{
    cursor: pointer;
}

.sec_ul li:active{
    color:blue;
}

/* -------------------------head end-------------------------------------- */
.main{
    width: 55%;
    height: 1000px;
    margin-left: 50px;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title h2{
    margin-bottom: 8px;
}

.title p{
    margin-top: 0;
}

a{
    text-decoration: none;
}

.sideTitles{
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
}

.twodivs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.side{
    width:44%;
}

.side h2 {
    margin-top: 0px;
    margin-bottom: 8px;
}

.side p{
    margin-top: 0px;
    margin-bottom: 20px;
}

.tinyTitle span{
    font-weight: bold;
    color:rgb(87, 84, 84);
}

.tinyTitle div {
    color:rgb(109, 109, 109);
}

.asks{
    width:100%;
}

.asks h3{
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.asks div{
    display: flex;
    justify-content: space-between;
    border: solid rgb(150, 138, 138) 1.5px;
}

.asks div:first-of-type{
    border-radius: 20px 20px 0 0;
}

.asks div:last-of-type{
    border-radius: 0 0 20px 20px;
}

.asks div p{
    margin-left: 15px;
}

.asks div span{
    margin-right: 15px;
    margin-top:16px;
}
.footer{
    width: 100%;
    height: 50px;
    background-color: blue;
}